@font-face {
  font-family: "monsterrat";
  src: url("fonts/monsterrat.ttf");
}

@font-face {
  font-family: "nokiafc22";
  src: url("fonts/nokiafc22.ttf");
}

h1 {
  color: black;
  font-family: monospace;
}

h2 {
  color: blue;
  font-family: monospace;
}

.header {
  background-color: #00aaff;
}

table{
  border-collapse:collapse;
  border:1px solid #FF0000;
}

table td{
  border:1px solid #FF0000;
}
